*{
 margin: 0; /* Remover as margens padrão do navegador */
       padding: 0; /* Remover o preenchimento padrão do navegador */
       box-sizing: border-box; /* Garante que bordas não aumentem o tamanho total dos elementos */
 font-family: Arial, Helvetica, sans-serif;
}
/*Estilizar a barra de navegação*/
.navbar 
{
     background-color: black;
        color:antiquewhite;
            display: flex;
                justify-content: space-between;
            align-items: center;
        padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}